.progressBar {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-left: 6px;
}

.progressBar .text {
    text-align: left;
    text-transform: uppercase;
    font-size: 0.97vw;
}

.progressBar .elements {
    display: flex;
}

.progressBar .elements .wrapper {
    display: flex;
    flex-direction: column;
}

.progressBar .elements .wrapper .top {
    display: flex;
}

.progressBar .elements .wrapper .top .circle.active,
.progressBar .elements .wrapper .top .line.active
 {
    background-color: #b2c200;
}

.progressBar .elements .wrapper .top .circle.next {
    background-color: white;
    border: 2px solid #dbdbdb;
    width: 0.8vw;
    height: 0.8vw;
}

.progressBar .elements .wrapper .top .circle {
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: #dbdbdb;
}

.progressBar .elements .wrapper .top .circle .number {
    line-height: 2.5vw;
    text-align: center;
    transform: translate(0, 0.5vw);
    font-size: 0.8vw;
}

.progressBar .elements .wrapper .top .line {
    width: 0.9vw;
    height: 0.2vw;
    background-color: #dbdbdb;
    align-self: center;
}

.progressBar .elements .wrapper:first-child .top .line {
    display: none;
}