.timeTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 25px;
    margin-bottom: 100px;
    box-sizing: border-box;
}

.timeTable .tableBody {
    display: flex;
    background-image: url('../../../public/tableBackground.png');
    background-repeat: repeat;
    margin-top: 2vw;
    border-radius: 10px;
}