.workout {
    display: flex;
    height: 3.1vw;
    display: flex;
    justify-content: center;
}

.workout .image {
    width: 3vw;
    height: 1.4vw;
    filter: brightness(1.2) grayscale(100%);
    align-self: center;
    margin-right: 11px;
}

.workout .icon {
    width: 1.3vw;
    height: 0.9vw;
    align-self: center;
}