.daySwitcher {
    display: flex;
}

.daySwitcher .button {
    width: 2.7vw;
    height: 4.2vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    align-self: center;
}

.daySwitcher .button:hover {
    background-color: #adbb0c;
}

.daySwitcher .button.prev {
    background-image: url('../../../../../public/icons/angle_left_font_awesome.svg');
}

.daySwitcher .button.next {
    background-image: url('../../../../../public/icons/angle_right_font_awesome.svg');
}

.daySwitcher h1 {
    align-items: center;
    padding: 0 2.5vw;
    margin: 0;
    font-size: 4.6vw;
    line-height: 9vw;
    color: #ff801a;
    min-width: 18.5vw;
}