.tableHeader {
    color: #adbb0c;
    text-transform: uppercase;
    font-size: 2.3vw;
    font-weight: bold;
    height: 4.7vw;
    line-height: 4.7vw;
}

.column.active .tableHeader {
    height: calc(4.7vw - 2px);
}

.column.prevDay .tableHeader{
    border-right: none;
}

.column.active .tableHeader{
    border-right: none;
}

.column.lastColumn .tableHeader{
    border-right: none;
}