.guiltFreeEvent {
    height: 81%;
    width: 100%;
}

.guiltFreeEvent p {
    transform: rotate(-90deg);
    font-size: 3.4vw;
    width: 100%;
    padding: 0;
    white-space: nowrap;
    text-transform: uppercase;
    transform: rotate(-90deg) translate(-19vw, 0);
    color: #dbdbdb;
}

.guiltFreeEvent .icon {
    opacity: 0.3;
    width: 3.2vw;
    height: 3.2vw;
    transform: translate(0, 22vw);
    background-image: url('../../../../../public/icons/laugh.png');
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
}

.guiltFreeEvent.active .icon {
    filter: none;
}

.guiltFreeEvent.active p .eventProduct {
    color: black;
}