.printFooter {
    display: none;
    height: calc(2 * 3.1vw);
    justify-content: center;
    justify-content: space-around;
    padding: 0 1.4vw;
}

.printFooter img,
.printFooter p {
    align-self: center;
}

.printFooter p {
    text-transform: capitalize;
    font-size: 2vw;
}

.printFooter img {
    width: 2.5vw;
    height: 2.5vw;
}

.column.guiltFreeColumn .printFooter{
    display: flex !important;
}