.hoursColumn {
    font-size: 1.3vw;
    font-weight: bold;
    width: 8.5vw;
}

.hoursColumn > div:first-child {
    padding-top: calc(4.7vw + 2px);
}

.hoursColumn .lastRow {
    border-bottom: none;
}

.hoursColumn > div {
    height: calc(8.7vw - 4.5px + 1vw);
    text-align: center;
    line-height: 8.7vw;
}

.hoursColumn .workoutDescription {
    height: calc((2 * 3.1vw) + 2px);
    line-height: 3.1vw;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
}

.hoursColumn .workoutDescription .label {
    height: calc(3.1vw + 0.5px);
    align-self: flex-end;
    width: 100%;
    border-top: 2px solid #dbdbdb;
}


.hoursColumn .workoutDescription .label::after {
    content: '';
    background: url('../../../../../public//icons//caret_right_font_awesome.svg');
    background-repeat: no-repeat;
    width: 1.5vw;
    height: 1.5vw;
    display: inline-block;
    align-self: center;
}