.column {
    display: flex;
    flex-direction: column;
    width: calc((100vw - (8.5vw + 50px)) / 7);
}

.column.active {
    border: 2px solid orange;
}

.column:last-child {
    border: none;
}

.column > div:nth-child(6) {
    border-bottom: none;
}

.column.guiltFreeColumn .footer,
.column.guiltFreeColumn .workout {
    display: none !important;
}