.menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    align-items: center;
    padding-left: 14.2vw;
    width: 35%;
    color: #7c7c7c;
}

.menu li {
    list-style-type: none;
}


.menu li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: bold;
    color: #7c7c7c;
}

.menu li:hover a {
    color: #adbb0c
}

.menu li.active a {
    color: #ff801a;
}

.menu li.active a:after {
    content: "";
    border-bottom: 4px solid #ff801a;
    width: 25%;
    bottom: 0;
    display: block;
    margin-right: auto;
    margin-left: auto;
    transform: translate(0, 10px);
}