.proteinsOptions {
    display: flex;
    flex-direction: column;
    width: 20vw;
    align-self: center;
    padding-right: 6px;
}

.proteinsOptions .text {
    text-align: left;
}

.proteinsOptions .options {
    display: flex;
}

.proteinsOptions .options .option {
    filter: brightness(1.2) grayscale(100%);
    width: calc(100% / 5);
    height: 2.5vw;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 100%;
    display: flex;
    justify-content: center;
}

.proteinsOptions .options .option.active {
    filter: none;
}

.proteinsOptions .options .option.active img {
    display: none;
}

.proteinsOptions .options .option img {
    width: 2.5vw;
    height: 100%;
    display: block;
    filter: brightness(0.8) grayscale(100%);
    align-self: center;
}