.userMenu {
    display: flex;
    justify-content: space-between;
    width: 14vw;
    padding-right: 3vw;
}

.userMenu .avatar {
    background-repeat: no-repeat;
    background-size: cover;
     border-radius: 50%;
     border: 1px solid #DEDEDE;
     border-top: none;
     width: 2.9vw;
     height: 2.9vw;
     align-self: center;
}

.userMenu .userBar {
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    align-items: center;
}

.userMenu .userBar::after {
    content: '';
    background: url('../../../../public/icons/angle_down_font_awesome.svg');
    background-repeat: no-repeat;
    width: 1.5vw;
    height: 1.5vw;
    align-self: center;
}