.event {
    display: flex;
    flex-direction: column;
    height: 8.4vw;
    padding-top: 1vw;
    justify-content: space-around;
}

.event .image {
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: auto 100%;
    height: 65%;
    width: 100%;
    -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray;
}

.event .productBar {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 35%;
    color: #dbdbdb;
}

.event .eventProduct {
    font-size: 1.3vw;
    text-transform: capitalize;
    width: 73%;
    text-align: left;
}

.event .productBar .icon {
    width: 1.6vw;
    height: 1.6vw;
    display: none;
}

.event .productBar .icon.active {
    display: block;
}

.column.prevDay .event,
.column.active .event {
    border-right: none;
}

.column.active .event {
    filter: none;
}

.column.active .event .image {
    filter: none;
}

.column.active .event .eventProduct {
    color: black;
}