.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.active {
  filter: none !important;
}

.shadow {
  -moz-box-shadow:    0 4px 2px -2px gray;
  -webkit-box-shadow: 0 4px 2px -2px gray;
  box-shadow:         0 4px 2px -2px gray;
}

.backgroundWhite {
  background-color: #ffffff;
}

.eventBorder {
  border-right: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
}

@media (min-width: 1510px) {
  .App {
    width: 1510px;
    margin: 0 auto;
  }
}

